* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box; }

img {
  max-width: 100%;
  max-height: 100%; }

a {
  color: #fff; }

.button {
  cursor: pointer; }

@-webkit-keyframes blink {
  0% {
    opacity: 0.2; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.2; } }

@keyframes blink {
  0% {
    opacity: 0.2; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.2; } }

#arrow {
  display: block;
  height: 6%;
  position: fixed;
  right: 7vw;
  bottom: 10vh; }
  #arrow img {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-animation: blink 5s infinite;
            animation: blink 5s infinite; }
  #arrow img.up {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  #arrow:hover img {
    cursor: pointer;
    -webkit-animation-play-state: paused;
            animation-play-state: paused; }

#landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: url("http://res.cloudinary.com/vicken/image/upload/c_scale,w_2000/v1465899482/personal/background.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(9, 7, 7, 0.4);
  font-size: 4em; }
  .content h1 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 70%;
    font-weight: 400; }
    .content h1:first-child {
      color: white;
      font-weight: 600; }

ul {
  margin-top: 5vh;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

li {
  width: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3%;
  opacity: 0.4; }
  li:hover {
    opacity: 1; }
  li:first-child {
    margin-left: 0; }

#projects {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(250, 250, 250, 0.9); }

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 80%;
  height: 90vh; }

.project {
  position: relative;
  width: 25%;
  height: 33%;
  padding: 1px;
  border: 1px solid white; }
  .project img, .project .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .project .cover {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.3em;
    background-color: rgba(0, 0, 60, 0.9);
    border-radius: 8px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: -10; }
    .project .cover span {
      font-size: 0.8em;
      color: rgba(255, 255, 255, 0.8); }
  .project:hover img {
    opacity: 0.6; }
  .project:hover .cover {
    z-index: 10;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }

.project .cover .button {
  height: 20%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 10%;
  margin-right: 10%;
  font-size: 0.8em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(250, 250, 250, 0.9);
  border-radius: 10px;
  color: #000;
  text-decoration: none; }
  .project .cover .button:hover {
    background-color: #fafafa; }

#about {
  color: #fff;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: transparent; }
  #about p {
    width: 55%;
    text-align: left;
    margin-top: 15%;
    font-size: 0.45em; }
    #about p:last-child {
      margin-top: 5%;
      font-weight: 500; }

@media screen and (max-width: 813px) {
  #arrow {
    right: 7vw;
    bottom: 5vh; }
  #landing {
    background-image: url("http://res.cloudinary.com/vicken/image/upload/c_scale,h_700/v1465899482/personal/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; }
  .content {
    font-size: 2.2em; }
  .greeting {
    text-align: center; }
  li {
    width: 10%; }
  #projects {
    height: auto; }
  .projectContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    width: 100%;
    height: auto; }
  .project {
    position: relative;
    width: 85%;
    height: 27vh;
    padding: 10px;
    margin: 5px auto; }
    .project:last-child {
      margin-bottom: 20px; }
    .project:hover img {
      opacity: 1; }
    .project:hover .cover {
      z-index: -1111; }
  #about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #about p {
    width: 70%;
    text-align: center;
    margin-top: 0;
    font-size: 0.55em; } }
